/* Hide login button when user already logged-in */
.logged-in .hide-on-login {
    display: none;
} 

div#popmake-3272.popmake  {
    bottom: 0;
    top: unset;
}
/* ================== */

.ic-referred-message {
    padding: 10px;
    background: #02b159;
    border-radius: 6px;
    margin-bottom: 15px;
    color: #fff;
}

#ic_copy-to-clipboard-wrapper p.limit-over {
    padding: 6px 10px !important;
    background: #f00;
    color: #fff;
    border-radius: 5px;
    margin: 10px 0 !important;
}

#ic_copy-to-clipboard-wrapper .ic_form_group {
    display: flex;
    align-items: center;
}

#ic_copy-to-clipboard-wrapper .ic_form_group button.ic-button {
    margin-left: 15px;
    border: 0;
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
    height: 48px;
    font-size: 15px;
    font-weight: 600;
    transition: all 0.3s;
}

#send_email {
    border: 0;
    padding: 10px;
    box-sizing: border-box;
    height: 48px;
    font-size: 15px;
    font-weight: 600;
    transition: all 0.3s;
    background: #ddd;
    display: inline-block;
    margin: 10px 0;
    border-radius: 5px;
    color: #000;
}

#send_email i {
    margin-right: 10px;
    font-size: 22px;
    line-height: 30px;
}

#ic_copy-to-clipboard-wrapper .ic_form_group input {
    flex: 3;
}

#ic_copy-to-clipboard-wrapper .ic_form_group button.ic-button:not(:disabled) {
    cursor: pointer;
}

#ic_copy-to-clipboard-wrapper .ic_form_group button.ic-button:not(:disabled):hover {
    background: #000;
    color: #fff;
}

.itc__reward-points {
    padding: 10px;
    background: #f8f8f8;
    border-radius: 10px;
    /* background: #000; */
    /* color: #fff; */
}